<h2>Dodawanie nowego wpisu</h2>

<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :author, "Autor"%>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Treść"%>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.submit "Dodaj wpis", class: "btn btn-default" %>
<%end%>
